.custom-select {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.btn-custom {
  padding-left: 7px; }
  .btn-custom i {
    margin-right: 10px; }

.mask {
  left: 0; }

.speesh::after {
  right: auto;
  left: 1rem; }

.hsg-nav__link-wrapper::before {
  right: auto;
  left: 1rem; }

.hsg-nav__link-wrapper::after {
  right: auto;
  left: calc(1rem + 1px); }

.tabs .nav-pills li:first-of-type > a:hover,
.tabs .nav-pills li:first-of-type > a:focus,
.tabs .nav-pills li:first-of-type > a {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 10px; }

.tabs .nav-pills li:last-of-type > a:hover,
.tabs .nav-pills li:last-of-type > a:focus,
.tabs .nav-pills li:last-of-type > a {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 10px; }

.tabs .nav-pills .nav-item:first-of-type {
  border-top-left-radius: 0  !important;
  border-top-right-radius: 10px; }

.tabs .nav-pills .nav-item:last-of-type {
  border-top-right-radius: 0  !important;
  border-top-left-radius: 10px; }

.tabs .tab-content {
  text-align: right !important; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"] {
  text-align: right; }

.form .custom-input .custom-label {
  right: 5px;
    right-left: auto; }

.form .custom-input .asterisx {
  right: auto;
  left: 7px; }

.form .custom-input input:focus + .custom-label,
.form .has-data .custom-label {
  left: 5px;
  right: 0; }

.custom-select select {
  border-left: none;
  border-right: 2px solid #FFCC39;
  padding: 0 5px 0 12px; }

.custom-select::before {
  right: auto;
  left: 0;
  border-left: none;
  border-right: 1px solid #FFCC39; }

.item blockquote {
  border-right: none;
  margin: 0; }

.item blockquote p:before {
  margin-left: 5px; }
